@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(79, 79, 75));
    font-family: "Open Sans", sans-serif;

}

.nav-container {
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;

}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: rgb(109, 67, 0);
    text-shadow: 0 0 10px rgb(109, 67, 0);
}

.menu-list {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.menu-list .link a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: 0.3s linear;
}

.link a:hover {
    color: rgb(109, 67, 0);
    text-decoration: underline;
}

.contact-btn {
    /* border: 0.2rem solid rgb(109, 67, 0); */
    font-size: 1.2rem;
    border-radius: 20px;
    border: none;
    /* color: rgb(109, 67, 0); */
    


}

#anchortag{
    color: black;
    text-decoration: none;
    padding: 0.8vh 1.5vw;
    background-color: white;
    border-radius: 2vw;
}

#anchortag:hover{
    background-color:rgb(109, 67, 0) ;
}


.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 12px;
    color: black;
    font-size: 2rem;
    display: none;

}


.Dropdown {
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: brightness(40%) blur(3px);
    box-shadow: 0 0 20px black;
    /* transition: 0.2s linear; */
}

.Dropdown .link a {
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 4vh 0;
    cursor: pointer;
    align-items: center;
    transition: 0.2s linear;
}

.Dropdown .link a:hover {
    color: black;
    background-color: rgb(231, 242, 135);
}

.main-container {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
}

.Image-part {
    width: 50vw;
    height: 50vh;
}

.Image-part img {
    height: 70vh;
    width: 40vw;
    border-radius: 50%;
    padding: 0 3vw;
}

.contant-text-part {
    width: 40vw;
    height: 50vh;
    padding: 15vh 0;

}

.contant-text-part h1 {
    font-size: 3rem;
}

.contant-text-part h1 span {
    color: rgb(109, 67, 0);
    text-shadow: 0 0 10px rgb(109, 67, 0);
}

/* .contant-text-part .typewrite{
    font-size: 1.5rem;
} */

.contant-text-part p {
    font-size: 0.9rem;
    margin-top: 2vh;
}

.contant-text-part .social-link i {
    /* padding: 3vh 0;
  margin-left: 2vw; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid rgb(109, 67, 0);
    border-radius: 50%;
    color: rgb(109, 67, 0);
    margin: 3vh 0.5vw;
    font-size: 1.5rem;
    /* transition: 0.2s linear; */

}

.contant-text-part .social-link i:hover {
    background-color: rgb(109, 67, 0);
    ;
    color: white;
}

.btn1 button {
    font-size: 1.5rem;
    padding: 2vh 4vw;
    border-radius: 1.5vw;
    border: none;
    margin-top: 2vh;
    cursor: pointer;

}

.btn1 button:hover {
    color: white;
    background-color: rgb(109, 67, 0);
    ;
}

#about-btn {
    position: absolute;
    width: 20vw;
    margin-top: 5vh;
    backdrop-filter: brightness(40%) blur(3px);
    box-shadow: 0 0 20px black;
    line-height: 1.5;
    font-size: 0.9rem;
    font-weight: 100;
    padding: 20px;
    display: none;
}

#Skills-btn {
    position: absolute;
    margin-top: 5vh;
    width: 30vh;
    line-height: 2;
    font-size: 1rem;
    backdrop-filter: brightness(40%) blur(3px);
    /* background-color: white; */
    box-shadow: 0 0 20px black;
       padding: 30px;
       display: none;
}

@media only screen and (max-width: 800px) {
    body {
        background: linear-gradient(to right, rgb(255, 255, 255), rgb(210, 210, 131));

    }

    .logo {
        position: absolute;
        top: 20px;
        left: 40vw;
        font-size: 2rem;


    }

    .menu-list .link a {
        display: none;
    }

    .contact-btn {
        display: none;
    }

    .main-container {
        width: 100vw;
        height: 50vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .Image-part {
        width: 100vw;
        height: 60vh;
        display: flex;
        justify-content: center;
    }

    .Image-part img {
        height: 70vh;
        width: 70vw;
        border-radius: 50%;
        padding: 0 3vw;
    }

    .contant-text-part {
        width: 80vw;
        height: 50vh;
        padding: 15vh 0;

    }

    .contant-text-part h1 {
        font-size: 3.3rem;
    }

    .contant-text-part p {
        font-size: 1.3rem;
        margin-top: 2vh;
    }

    .contant-text-part .typewrite {
        font-size: 1.7rem;
    }

    .hamburg,
    .cancel {
        cursor: pointer;
        position: absolute;
        right: 5vw;
        top: 3vh;
        color: black;
        font-size: 2rem;
        display: block;

    }

}
@media only screen and (max-width: 390px){
    .logo {
        position: absolute;
        top: 20px;
        left: 30vw;
        font-size: 2rem;
    }
       .Image-part img {
        height: 50vh;
        width: 100vw;
        border-radius: 50%;
        padding: 0 3vw;
    }
}